<template name="MasterLayout">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><i class="fa fa-tasks fa-border"></i>&nbsp;C&oslash;d&ecirc;x</a>
      </div>
      <div class="collapse navbar-collapse" id="navigationbar">
        <ul class="nav navbar-nav navbar-right">
          <li>{{#linkTo route="home"}}<i class="fa fa-home"></i> Home{{/linkTo}}</li>
          <!-- <li>{{#linkTo route="dashboard"}}<i class="fa fa-tachometer"></i> Dashboard{{/linkTo}}</li> NOT CONNECTED...PENDING FIGURING IT OUT! -->
          <!-- <li>{{#linkTo route="bookTracker"}}<i class="fa fa-line-chart"></i> BookTracker{{/linkTo}}</li> -->
          <li>{{#linkTo route="addBook"}}<i class="fa fa-plus-circle"></i> AddBook{{/linkTo}}</li>
          <li>{{#linkTo route="bookCatalog"}}<i class="fa fa-book"></i> BookCatalog{{/linkTo}}</li>
          <li>{{#linkTo route="theRedFile"}}<i class="fa fa-newspaper-o"></i> The Red File{{/linkTo}}</li>
          <!-- <li>{{#linkTo route="login"}}<i class="fa fa-user"></i><i class="fa fa-caret-down"></i>{{/linkTo}}</li> NOT CONNECTED...PENDING FIGURING IT OUT! -->
        </ul>
      </div>
    </div>
  </nav>
  <div class="container" style="margin-top:40px">
    {{> yield}}
  </div>
  <nav class="navbar navbar-default navbar-fixed-bottom hidden">
    <div class="container">
      <ul class="nav navbar-nav navbar-right">
        <li>Built with Meteor</li>
      </ul>
    </div>
  </nav>
</template>