/*****************************************************************************/
/* BookCatalog: Style */
/*****************************************************************************/
.book-catalog {
}

.tableHeader {
	text-transform: uppercase;
	font-size: 10px;
	color: #808080;
}

.smallWidth {
	max-width: 85px;
	text-align: center;
}

.tableSubHeader {
	text-transform: uppercase;
	font-size: 8px;
	color: lightgrey;
}

.cellCentered {
	text-align: center;
}
