<template name="BookCatalog">
  <div class="book-catalog container">
    <h1 class="viewHeader h3"><i class="fa fa-book"></i> BookCatalog</h1>
    <hr>
    <div class="col-md-12">
      {{> reactiveTable collection=books settings=tableSettings}}
    </div>
  </div>

  <hr>

<!-- FILE UPLOAD ... NOT WORKING ... PER https://themeteorchef.com/snippets/importing-csvs/ -->
<!-- 	<div class="col-md-3">
	  <div class="panel panel-default">
  	  <div class="panel-heading">
  			<h3 class="panel-title">Upload a CSV file</h3>
  	  </div>
  	  <div class="panel-body">
  			{{> upload}}
  	  </div>
	  </div>
	</div> -->
</template>

<template name="bookDetailClicker">
  {{#linkTo route='bookDetail'}}<i style="color:#808080;" class="fa fa-eye-slash centeri" aria-hidden="true"></i>{{/linkTo}}
</template>