<template name="home">
  <div class="home">
		<header class="center">
	    <h1 class="huge"><i class="fa fa-tasks fa-border"></i> C&oslash;d&ecirc;x</h1>
	    <hr>
	    {{> subApps}}
		</header>
  </div>
</template>

<template name="subApps">
	<div class="row">
		<div class="col-md-6">
			<h4 class="subhead"><i class="fa fa-tachometer"></i> Dashboard</h4>
			<p>Get the big picture with summarized data.</p>
		</div>

		<div class="col-md-6">
			<h4 class="subhead"><i class="fa fa-line-chart"></i> BookTracker</h4>
	    <p>Track catalog of titles, from raw to final published edition.</p>
		</div>
	</div>
</template>