/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
.home {
}

.center {
	text-align: center;
}

.subhead {
	color: #888;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.huge {
	font-size: 75px;
}