<template name="devStatus">
  <div class="dev-status col-md-10">
  	<div class="panel panel-default">
  		  <div class="panel-heading">
  				<h3 class="panel-title"><i class="fa fa-cogs"></i> Development Status Options</h3>
          <!-- <br> -->
          <h5>Current Status: <span class="text-info">{{devStatus}}</span></h5>
          <h6 class="ital">(Use the Status Options, below, to fill in the Dev Status box, above.)</h6>
        </div>


  		  <div class="panel-body">
  				{{> devStatusList}}
  		  </div>
  	</div>
  </div> <!-- end div dev-status -->
</template>

<template name="devStatusList">
  <ul>
    <li class="ds_main">
      <h4>Raw</h4>
      <ul>
        <li>Basic Meta</li>
        <li>Public Domain Verified</li>
        <li>Scan Prepped</li>
        <li>Ripped</li>
        <li>SAVE AS "..-raw.rft"</li>
      </ul>
    </li>

    <li class="ds_main">
      <h4>Edit</h4>
      <ul>
        <li>Cleanup</li>
        <li>Add Meta</li>
        <li>Redpen</li>
        <li>Edits</li>
        <li>SAVE AS "..-ed.docx</li>
      </ul>
    </li>

    <li class="ds_main">
      <h4>Layout</h4>
      <ul>
        <li>Place .docx</li>
        <li>Edits</li>
        <li>Resources</li>
        <li>SAVE AS "Casefile#.md"</li>
      </ul>
    </li>

    <li class="ds_main">
      <h4>Output</h4>
      <ul>
        <li>ePub: "Casefile#(e).epub"</li>
        <li>HTML: "Casefile#(h).html"</li>
        <li>MD: "Casefile#(m).md"</li>
        <li>.mobi: "Casefile#(k).mobi"</li>
      </ul>
    </li>

    <li class="ds_main">
      <h4>Flightcheck</h4>
      <ul>
        <li>Code Validation</li>
        <li>Final Proofread</li>
        <li>Device Check</li>
        <li>Distributor Specs</li>
        <li>Peer Review</li>
      </ul>
    </li>

    <li class="ds_main">
      <h4>Published</h4>
      <ul>
        <li>Schedule on site</li>
        <li>Upload to S3</li>
        <li>THE RED FILE</li>
      </ul>
    </li>

  </ul>
</template>