/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
body {
	padding: 70px 0;
}

.main {
}

.viewHeader {
	color:#666;
	margin-left: 50px;
}

.centeri {
	text-align: center;
	padding-left: 5px;
}