/*****************************************************************************/
/* BookDetail: Style */
/*****************************************************************************/
.book-detail {
}

.meta dl > dt {
	color: #777;
	margin-bottom: 15px;
}

.headerTitle {
	color: #999;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 2px;
}

.bd_dates {
	text-transform: uppercase;
	font-size: 10px;
}