/*****************************************************************************/
/* BookDetail: Style */
/*****************************************************************************/
.book-detail {
}

.meta dl > dt {
	color: #777;
	margin-bottom: 15px;
}

.page-header {
	color: #999;
}

.headerTitle {
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 2px;
}

.bd_dates {
	text-transform: uppercase;
	font-size: 10px;
}

.pds {
	margin-bottom: 3px;
}

.Copyrighted::after {
	content: "\f00d  COPYRIGHTED";
	font-family: FontAwesome;
	color: white;
	background-color: red;
	padding: 4px;
	border-radius: 3px;
	margin-left: 25px;
}

.Public::after {
	content: "\f046  PUBLIC DOMAIN ";
	font-family: FontAwesome;
	color: #fff;
	background-color: green;
	padding: 4px;
	border-radius: 3px;
	margin-left: 25px;
}

dt {
	text-transform: uppercase;
	color: #999;
}

dd {
	color: #000;
}

dd > dl {
	margin-left: -175px;
}

dd > dl > dd {
	text-transform: capitalize;
}

.caption_text {
	text-transform: none; /* keeps the sentence case */
	max-width: 225px;
}

.bvHead__excerpt {
	margin-left: 20px;
	font-style: italic;
	font-size: 12px;
}

.enterta {
	margin-left: 20px;
	padding: 10px;
	font-style: italic;
	font-size: 12px;
	background-color: #999;
	color: #fff;
}

.pubStats, .outputStats {
	max-width: 300px;
	padding: 5px;
}

.pubStats > h4, .outputStats > h4 {
	text-align: center;
	background-color: #aaa;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 13px;
}

.pubStats i, .outputStats i {
	color: #999;
}

.pubStats .fa-check-square-o, .outputStats .fa-check-square-o {
	color: green;
}

.pubStats .fa-minus-square-o, .outputStats .fa-minus-square-o {
	color: #EC971F;
}

.pubStats .fa-circle, .outputStats .fa-circle {
	color: red;
}

.pubStats .fa-times, .outputStats .fa-times {
	color: red;
}





